[mysqld]
# Tuned para VPS 4GB RAM
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 16M
innodb_redo_log_capacity = 128M
performance_schema = 0
key_buffer_size = 32M
max_connections = 100
table_open_cache = 256
table_definition_cache = 512
thread_cache_size = 8
tmp_table_size = 32M
max_heap_table_size = 32M
